html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

p{
    color: #fff;
}
input{
    width: 300px;
    height: 30px;
    outline: none;
    border-radius: 5px;
}
span{
    font-size: 10px;
}
.login-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    cursor: pointer;
}

.login-box button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}
.registed-link {
    font-family: sans-serif;
    font-weight: 400;
    margin-left: 13px;
    cursor: pointer;
    transition: color 0.3s ease;
}
.registed-link:hover{
    color: #03e9f4;
}



@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}


@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}


@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}



@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}
/*  */
/*registed 
 */


 .Register{
 }
 form.register-form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}
 #register-btn {
    margin-left: 34%;
    text-align: center;
    background-color: #3498db; /* Màu nền nút */
    color: #fff; /* Màu chữ */
    padding: 10px 20px; /* Kích thước nút */
    font-size: 16px; /* Kích thước chữ */
    border: none; /* Loại bỏ viền */
    border-radius: 5px; /* Bo góc nút */
    cursor: pointer; /* Hiển thị biểu tượng con trỏ khi di chuột qua nút */
    transition: background-color 0.3s ease; /* Hiệu ứng khi di chuột qua nút */
  }
  
  #register-btn:hover {
    background-color: #2980b9; /* Màu nền nút khi di chuột qua */
  }
  .icon-back {
    cursor: pointer;
    display: inline;
    font-size: 27px;
}
.error-message {
    height: 16px;
    margin-top: 12px;
}
  
  


